<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS-->
    <link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script>
        $(function() {
            "use strict"; // Start of use strict
            let personalId = '<%= personalId %>';
            let country = $('#country').val();
            console.log(personalId);
            getAjaxMethod('/personal/detail/info/' + country + '/' + personalId, renderDetail);
        });

        function renderDetail(data) {
            console.log(data);
            $('#worker').val(data.data.reporter);
            $('#regDate').val(data.data.regDate);
            $('#personalTitle').val(data.data.title);
            $('#personalContent').val(data.data.content);
            $('#personalReply').val(data.data.reply == undefined ? "" : data.data.reply);
            $('#personalId').val(data.data._id);
            // $('#noticeCategory').val(data.data.category);
        }

        function reply() {
            let updateForm = {
              "country":$('#country').val(),
              "id": $('#personalId').val(),
              // "category":$('#noticeCategory').val(),
              "reply": $('#personalReply').val()
            };

            console.log(updateForm);

            putAjaxMethod('/personal/' + updateForm.id, updateForm, resultCall);
        }

        function resultCall (result) {
          console.log('수정완료');
          search('crud');
        }
    </script>

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-register mx-auto">
        <div class="card-header">1:1 문의 Detail</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="regDate" class="form-control" readonly>
                <label>Reg Date</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="hidden" id="personalId">
                <input type="text" id="worker" class="form-control" readonly>
                <label>Reporter</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="personalTitle" class="form-control" placeholder="Question" required="required" autofocus="autofocus" readonly>
                <label for="personalTitle">Title</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="form-label-group">
                  <textarea id="personalContent" class="form-control" style="width: 400px; height: 100px; resize: none;" placeholder="Question" readonly></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="form-label-group">
                  <textarea id="personalReply" class="form-control" style="width: 400px; height: 100px; resize: none;" placeholder="답변"></textarea>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="button" data-dismiss="modal" onclick="reply();">저장</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
