<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../include/head.html', {}) %>
    <title><%= title %></title>
    <script>
        let data, index;
        let pageIdx = 0;
        let lastPageYn = false;

        $(function(){
            "use strict"; // Start of use strict

            $("#sidebarToggle").on('click',function(e) {
                e.preventDefault();
                $("body").toggleClass("sidebar-toggled");
                $(".sidebar").toggleClass("toggled");
            });

            $('#modifyPersonalModal').on('show.bs.modal', function (event) {
                //event.preventDefault();
                let button = $(event.relatedTarget);
                let modalTitle = button.data('modal-title');
                let modal = $(this);
                let personalId = button.data('id');

                modal.find('.modal-title').text(modalTitle);
                modal.find('#modifyPersonal').load('/personal/detail/' + personalId);
            });

            postAjaxMethod('/personal/search', {country: $('#country').val()}, renderHTML);

            // $("#title").keydown(function (key) {
            //     if (key.keyCode == 13) {
            //         search()
            //     }
            // });
        });

        function search(pageType) {
            let param = {
                "perPage": 20
            };

            if($('#title').val() != "") param["title"] = $('#title').val();
            if($('#country').val() != "") param["country"] = $('#country').val();
            if(pageType == "prev") {
                if(pageIdx == 0) {
                    alert("맨 처음 페이지 입니다.");
                    return;
                }
                pageIdx = pageIdx - 1;
                param["pageIdx"] = pageIdx;
            } else if(pageType == "next") {
                if(lastPageYn) {
                    alert("마지막 페이지 입니다.");
                    return;
                }
                pageIdx = pageIdx + 1;
                param["pageIdx"] = pageIdx;
            } else if(pageType == "crud") {
                param["pageIdx"] = pageIdx;
            } else {
                pageIdx = 0;
            }

            postAjaxMethod('/personal/search', param, renderHTML);
        }

        function renderHTML(res) {
            console.log(res);
            data = res.data;

            $('#personal-list').html('');
            if(data.length > 0) {
                if(data.length < 20) {
                    lastPageYn = true;
                }
                $('.pagination').css('display','');
            } else {
                $('.pagination').css('display','none');
                $('#personal-list').html('<tr>\n' +
    '                                    <td colspan="5">검색 결과가 없습니다.</td>\n' +
    '                                </tr>');
            }

            for(var i in data) {
                let result = '<tr>\n' +
                    '                                <td>'+data[i].regDate+'</td>\n' +
                    '                                <td>'+data[i].title+'</td>\n' +
                    '                                <td>'+data[i].reporter +'</td>\n' +
                    '                                <td>'+(data[i].reply == undefined ? "N" : "Y") +'</td>\n' +
                    '                                <td>' +
                    '                                   <button class="btn btn-outline-info btn-sm" data-id="'+data[i]._id+'" data-toggle="modal" data-target="#modifyPersonalModal">수정</button>' +
                    '                               </td>\n' +
                    '                            </tr>';
                $('#personal-list').append(result);
            }
        }
    </script>
</head>
<body id="page-top">
    <%- include('../include/header.html', {}) %>
<div id="wrapper">
    <%- include('../include/sidebar.html', {}) %>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">게시판</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">1:1문의</a>
                </li>
                <li class="breadcrumb-item active">목록</li>
                <li style="margin-left: 5px;"><button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#registerNoticeModal">공지사항 등록</button></li>
            </ol>

            <!-- DataTables Example -->
            <div class="card mb-3 history-table">
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-row" style="margin-bottom:5px;">
                            <div class="col-md-2">
                                거래 국가
                            </div>
                            <div class="col-md-6">
                                <select id="country" class="form-control">
                                    <option value="KR">한국</option>
                                    <option value="CN">중국</option>
                                    <!--<option value="JP">일본</option>-->
                                    <!--<option value="EN">영어</option>-->
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-row">
                            <div class="col-md-2">
                                Title
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="title" class="form-control">
                            </div>
                        </div> -->
                        <div class="form-row">
                            <div class="form-label-group">
                                <button class="btn btn-primary btn-block" onclick="search('');">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 history-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <colgroup>
                                <col width="150">
                                <col width="400">
                                <col width="100">
                                <col width="100">
                                <col width="100">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Reg Date</th>
                                <th>Title</th>
                                <th>Reporter</th>
                                <th>Reply</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="personal-list">
                            <tr>
                                <td colspan="5">검색 결과가 없습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-5">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="javascript:search('prev');" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span><span>prev</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:search('next');" aria-label="Next">
                                <span>next</span>&nbsp;<span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <%- include('../include/footer.html', {}) %>
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- modify notice Modal-->
<div class="modal fade" id="modifyPersonalModal" tabindex="-1" role="dialog" aria-labelledby="modifyPersonalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyPersonalModalLabel">1:1문의 답글달기</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modifyPersonal">

            </div>
        </div>
    </div>
</div>
<!-- Logout Modal-->
<%- include('../include/modal_logout.html', {}) %>
</body>
</html>