<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./include/head.html', {}) %>
    <script>
        $(function() {
            "use strict"; // Start of use strict
        });

        function enterkey(){
            if(window.event.keyCode==13){
                login();
            }
        }

        function login() {
            let signUpForm = {
                "userTag": $("#inputId").val(),
                "password": $('#inputPassword').val()
            }

            $.ajax({
                method: "POST",
                url: "/login",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(signUpForm),
                beforeSend: function() {
                    $('.btn-primary').prop('disabled', true);
                    $('.btn-primary').text('처리중..');
                }
            })
            .done(function (success) {
                location.href = '/dashboard';
            })
            .fail(function (fail) {
                console.log(fail);
                if(fail.responseJSON.responseStatus === 403) {
                    alert(fail.responseJSON.responseMessage);
                }
                $('.btn-primary').prop('disabled', false);
                $('.btn-primary').text('Login');
            });
        }
    </script>

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Mach Exchange Admin Login</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" id="inputId" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                <label for="inputId">ID</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" onkeypress="enterkey();">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <!--<div class="form-group">-->
              <!--<div class="checkbox">-->
                <!--<label>-->
                  <!--<input type="checkbox" value="remember-me">-->
                  <!--Remember Password-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->
            <a class="btn btn-primary btn-block" href="javascript:login();">Login</a>
          </form>
          <div class="text-center">
            <!--<a class="d-block small mt-3" href="/register">Register an Account</a>-->
            <!--<a class="d-block small" href="/forgot-password">Forgot Password?</a>-->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
