<div class="footer-container">
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © MACH Exchange 2019</span>
            </div>
        </div>
    </footer>
</div>