<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex">
<!-- css -->
<link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="/sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
<link href="/sb-admin/css/sb-admin.css" rel="stylesheet">
<link href='/text-editor/jquery-te-1.4.0.css' rel='stylesheet'/>
<link href='/summernote/summernote-bs4.css' rel='stylesheet'/>
<link href='/stylesheets/style.css' rel='stylesheet'/>
<!-- JS -->
<script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
<script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/sb-admin/vendor/chart.js/Chart.min.js"></script>
<script src="/sb-admin/vendor/datatables/jquery.dataTables.js"></script>
<script src="/sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="/sb-admin/js/sb-admin.min.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/text-editor/jquery-te-1.4.0.min.js"></script>
<script src="/summernote/summernote-bs4.min.js"></script>