<%# modalId, modalTitle, bodyId %>
<div class="modal fade" id="<%= objOpt.modalId %>" tabindex="-1" role="dialog" aria-labelledby="registerCommunityModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerCommunityModalLabel"><%= objOpt.modalTitle %></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="<%= objOpt.bodyId %>">
                
            </div>
        </div>
    </div>
</div>