<nav class="menu-container">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="/">-->
        <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
        <!--<span>Dashboard</span>-->
        <!--</a>-->
        <!--</li>-->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userManagementDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>사용자 관리</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="userManagementDropdown">
                <!--<h6 class="dropdown-header">Login Screens:</h6>-->
                <a class="dropdown-item" href="/users/lists">회원 관리</a>
                <a class="dropdown-item" href="/staffs/lists">스태프 관리</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tradeManagementDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>거래 관리</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="tradeManagementDropdown">
                <!--<h6 class="dropdown-header">Login Screens:</h6>-->
                <a class="dropdown-item" href="/vtrs/lists">VTR 관리</a>
                <a class="dropdown-item" href="/points/lists">포인트 관리</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="coinDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>코인 관리</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="coinDropdown">
                <a class="dropdown-item" href="/coins/deposit/lists">입금 관리</a>
                <a class="dropdown-item" href="/coins/withdraw/lists">출금 관리</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pointDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>포인트 관리</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pointDropdown">
                <a class="dropdown-item" href="/points/deposits/lists">입금 관리</a>
                <a class="dropdown-item" href="/points/withdraws/lists">출금 관리</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="boardDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>고객 샌터 관리</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="boardDropdown">
                <!--<h6 class="dropdown-header">Login Screens:</h6>-->
                <a class="dropdown-item" href="/faq/lists">FAQ</a>
                <a class="dropdown-item" href="/notice/lists">공지사항</a>
                <a class="dropdown-item" href="/personal/lists">1:1문의</a>
                <!-- <a class="dropdown-item" href="/cms/lists">CMS</a> -->
                <!-- <a class="dropdown-item" href="/businessContact/lists">제휴 문의</a> -->
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/community/lists">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Community</span>
            </a>
        </li>
    </ul>
</nav>