<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS-->
    <link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script>
        $(function() {
            "use strict"; // Start of use strict
            let communityId = '<%= communityId %>';
            let country = $('#country').val();
            console.log(communityId);
            getAjaxMethod('/community/detail/info/' + country + '/' + communityId, renderDetail);
        });

        function renderDetail(data) {
            console.log(data);
            $('#worker').val(data.data.reporter);
            $('#regDate').val(data.data.regDate);
            $('#communityTitle').val(data.data.title);
            $('#communityContent').val(data.data.content);
            $('#communityId').val(data.data._id);
            $('#communityType').val(data.data.type);
            $('#communityURL').val(data.data.movieUrl);
            $('.upload-name').val(data.data.images[0].origin_name);

            if(data.data.type == 'board') {
                $('.c-movie').css('display','none');
            } else {
                $('.c-board').css('display','none');
            }
        }

        function modifyCommunity() {
            let communityType = $('#communityType').val();
            let updateForm = {};

            if(communityType == 'board') {
                if($('#communityTitle').val() == "") {
                    alert("Title을 입력해주세여.");
                    return;
                }

                if($('#communityContent').val() == "") {
                    alert("Content을 입력해주세여.");
                    return;
                }

                updateForm = {
                    "country":$('#country').val(),
                    "id": $('#communityId').val(),
                    "type":$('#communityType').val(),
                    "title": $('#communityTitle').val(),
                    "content" : $('#communityContent').val()
                };
            } else {
                if($('#communityURL').val() == "") {
                    alert("URL을 입력해주세여.");
                    return;
                }

                updateForm = {
                    "country":$('#country').val(),
                    "id": $('#communityId').val(),
                    "type":$('#communityType').val(),
                    "title": $('#communityTitle').val(),
                    "movieUrl" : $('#communityURL').val()
                };
            }

            console.log(updateForm);

            putAjaxMethod('/community/' + updateForm.id, updateForm, resultCall);
        }

        function resultCall (result) {
          let image = new FormData();
          let imageData = $("#upload_filename")[0].files[0];
          
          if (imageData != null) {
            image.append("image", $("#upload_filename")[0].files[0]);
            imageAjaxMethod('/community/' + $('#country').val() + '/' + result.data._id+ "/images", image, resultImageCallback); 
          } else {
            search('crud');
          }
        }

        function resultImageCallback (result) {
          console.log('수정완료');
          search('crud');
        }
    </script>

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-register mx-auto">
        <div class="card-header">커뮤니티 Detail</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="regDate" class="form-control" readonly>
                <label>Reg Date</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="hidden" id="communityId">
                <input type="text" id="worker" class="form-control" readonly>
                <label>Reporter</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="communityType" class="form-control" placeholder="Type" readonly>
                <label for="communityType">Type</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="communityTitle" class="form-control" placeholder="Title" required="required" autofocus="autofocus">
                <label for="communityTitle">Title</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input class="upload-name form-control" readonly>
                <input type="file" id="upload_filename">
                <label for="upload_filename">썸네일</label>
              </div>
            </div>
            <div class="form-group c-board">
              <div class="form-row">
                <div class="form-label-group">
                  <textarea id="communityContent" class="form-control" style="width: 400px; height: 100px; resize: none;" placeholder="Answer"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group c-movie">
              <div class="form-label-group">
                <input type="text" id="communityURL" class="form-control" placeholder="ex)Youtube, Facebook, Instargram, etc" required="required" autofocus="autofocus">
                <label for="communityURL">URL</label>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="button" data-dismiss="modal" onclick="modifyCommunity();">저장</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
