<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../include/head.html', {}) %>
    <title><%= title %></title>
    <script>        
        $(function () {
            let communityId = '<%= communityId %>';
            let country = $('#country').val();
            console.log(communityId);
            getAjaxMethod('/community/detail/info/' + country + '/' + communityId, renderDetail);
            åss
            $('#communityContent').summernote({
                //tabsize: 2,
                width: '100%',
                height: 300,
            });
        });

        function renderDetail(data) {
            console.log(data);
            $('#worker').val(data.data.reporter);
            $('#regDate').val(data.data.regDate);
            $('#communityTitle').val(data.data.title);
            $('#communityContent').val(data.data.content);
            $('#communityId').val(data.data._id);
            $('#communityType').val(data.data.type);
            $('#communityURL').val(data.data.movieUrl);
            $('.upload-name').val(data.data.images[0].origin_name);

            if (data.data.type == 'board') {
                $('.c-movie').css('display', 'none');
            } else {
                $('.c-board').css('display', 'none');
            }
        }

        function modifyCommunity() {
            let communityType = $('#communityType').val();
            let updateForm = {};

            if (communityType == 'board') {
                if ($('#communityTitle').val() == "") {
                    alert("Title을 입력해주세여.");
                    return;
                }

                if ($('#communityContent').val() == "") {
                    alert("Content을 입력해주세여.");
                    return;
                }

                updateForm = {
                    "country": $('#country').val(),
                    "id": $('#communityId').val(),
                    "type": $('#communityType').val(),
                    "title": $('#communityTitle').val(),
                    "content": $('#communityContent').val()
                };
            } else {
                if ($('#communityURL').val() == "") {
                    alert("URL을 입력해주세여.");
                    return;
                }

                updateForm = {
                    "country": $('#country').val(),
                    "id": $('#communityId').val(),
                    "type": $('#communityType').val(),
                    "title": $('#communityTitle').val(),
                    "movieUrl": $('#communityURL').val()
                };
            }

            console.log(updateForm);

            putAjaxMethod('/community/' + updateForm.id, updateForm, resultCall);
        }

        function resultCall(result) {
            let image = new FormData();
            let imageData = $("#upload_filename")[0].files[0];

            if (imageData != null) {
                image.append("image", $("#upload_filename")[0].files[0]);
                imageAjaxMethod('/community/' + $('#country').val() + '/' + result.data._id + "/images", image, resultImageCallback);
            } else {
                //search('crud');
                location.href="/community/lists";
            }
        }

        function resultImageCallback(result) {
            console.log('수정완료');
            //search('crud');
            location.href="/community/lists";
        }
    </script>
</head>
<body id="page-top">
    <%- include('../include/nav.html', {}) %>

<div id="wrapper">
    <div class="menu-container">
        <%- include('../include/sidebar.html', {}) %>
    </div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">커뮤니티</a>
                </li>
                <li class="breadcrumb-item active">목록</li>
                <li style="margin-left: 5px;"><button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#registerCommunityModal">커뮤니티 등록</button></li>
            </ol>
            <!-- 컨텐츠 -->
            <div class="card card-register mx-auto">
                <div class="card-header">커뮤니티 Detail</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <select id="country" class="form-control">
                                <option value="KR">한국</option>
                                <option value="CN">중국</option>
                                <!--<option value="JP">일본</option>-->
                                <!--<option value="EN">영어</option>-->
                            </select>                        
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="regDate" class="form-control" readonly>
                                <label>Reg Date</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="hidden" id="communityId">
                                <input type="text" id="worker" class="form-control" readonly>
                                <label>Reporter</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="communityType" class="form-control" placeholder="Type" readonly>
                                <label for="communityType">Type</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="communityTitle" class="form-control" placeholder="Title" required="required"
                                    autofocus="autofocus">
                                <label for="communityTitle">Title</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input class="upload-name form-control" readonly>
                                <input type="file" id="upload_filename">
                                <label for="upload_filename">썸네일</label>
                            </div>
                        </div>
                        <div class="form-group c-board">
                            <div class="form-row">
                                <div class="form-label-group">
                                    <textarea id="communityContent" class="form-control"
                                        style="width: 400px; height: 100px; resize: none;" placeholder="Answer"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group c-movie">
                            <div class="form-label-group">
                                <input type="text" id="communityURL" class="form-control"
                                    placeholder="ex)Youtube, Facebook, Instargram, etc" required="required" autofocus="autofocus">
                                <label for="communityURL">URL</label>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" type="button" data-dismiss="modal"
                            onclick="modifyCommunity();">저장</button>
                    </form>
                </div>
            </div>
            <!--// 컨텐츠 -->
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <div class="footer-container">
            <%- include('../include/footer.html', {}) %>
        </div>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Logout Modal-->
<%- include('../include/modal_logout.html', {}) %>
</body>
</html>