<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS-->
    <link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script>
        $(function() {
            "use strict"; // Start of use strict
            $('.c-movie').css('display','none');
        });

        function changeType(value) {
            if(value == 'board' || value == "game") {
                $('.c-board').css('display','block');
                $('.c-movie').css('display','none');
            } else {
                $('.c-board').css('display','none');
                $('.c-movie').css('display','block');
            }
        }

       function addCommunity() {
           let communityType = $('#communityType').val();
           let addForm = {};

           if($('#communityTitle').val() == "") {
              alert("Title을 입력해주세여.");
              return;
           }

           if(communityType == 'board' || communityType == "game") {
               if($('#communityContent').val() == "") {
                   alert("Content을 입력해주세여.");
                   return;
               }

               addForm = {
                   "country":$('#country').val(),
                   "type":$('#communityType').val(),
                   "title": $('#communityTitle').val(),
                   "content" : $('#communityContent').val()
               };
           } else {
               if($("#upload_filename")[0].files[0] == undefined) {
                 alert("upload file을 선택해주세여.");
                 return;
               }

               if($('#communityURL').val() == "") {
                   alert("URL을 입력해주세여.");
                   return;
               }

               addForm = {
                   "country":$('#country').val(),
                   "type":$('#communityType').val(),
                   "title": $('#communityTitle').val(),
                   "movieUrl" : $('#communityURL').val()
               };
           }

            console.log(addForm);

            postAjaxMethod('/community', addForm, resultCall);
        }

        function resultCall (result) {
          let image = new FormData();
          image.append("image", $("#upload_filename")[0].files[0]);

          imageAjaxMethod('/community/' + $('#country').val() + '/' + result.data._id+ "/images", image, resultImageCallback); 
        }

        function resultImageCallback(result) {
          location.href = '/community/lists';
        }
    </script>

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-register mx-auto">
        <div class="card-header">Register a 커뮤니티</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <select id="communityType" class="form-control" onchange="changeType(this.value);">
                  <option value="board">게시글</option>
                  <option value="game">게임공략</option>
                  <option value="movie">동영상</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="communityTitle" class="form-control" placeholder="Title" required="required" autofocus="autofocus">
                <label for="communityTitle">Title</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="file" id="upload_filename">
                <label for="upload_filename">썸네일</label>
              </div>
            </div>
            <div class="form-group c-board">
              <div class="form-row">
                <textarea id="communityContent" class="form-control" style="width: 400px; height: 100px; resize: none;" placeholder="Content"></textarea>
              </div>
            </div>
            <div class="form-group c-movie">
              <div class="form-label-group">
                <input type="text" id="communityURL" class="form-control" placeholder="ex)Youtube, Facebook, Instargram, etc" required="required" autofocus="autofocus">
                <label for="communityURL">URL</label>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="button" data-dismiss="modal" onclick="addCommunity();">저장</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
