<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet'/>
    <link href='/text-editor/jquery-te-1.4.0.css' rel='stylesheet'/>

    <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/sb-admin/vendor/chart.js/Chart.min.js"></script>
    <script src="/sb-admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/sb-admin/js/sb-admin.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/text-editor/jquery-te-1.4.0.min.js"></script>

    <title><%= title %></title>

    <script>
        let data, index;
        let pageIdx = 0;
        let lastPageYn = false;

        $(function(){
            "use strict"; // Start of use strict
            $(".menu-container").load("/header");
            $(".footer-container").load("/footer");

            $('#registerBusinessContactModal').on('show.bs.modal', function (event) {
                //event.preventDefault();
                let button = $(event.relatedTarget);
                let modalTitle = button.data('modal-title');
                let modal = $(this);

                modal.find('.modal-title').text(modalTitle);
                modal.find('#registerBusinessContact').load('/businessContact/register');
            });

            $('#modifyBusinessContactModal').on('show.bs.modal', function (event) {
                //event.preventDefault();
                let button = $(event.relatedTarget);
                let modalTitle = button.data('modal-title');
                let modal = $(this);
                let businessContactId = button.data('id');

                modal.find('.modal-title').text(modalTitle);
                modal.find('#modifyBusinessContact').load('/businessContact/detail/' + businessContactId);
            });

            $("#sidebarToggle").on('click',function(e) {
                e.preventDefault();
                $("body").toggleClass("sidebar-toggled");
                $(".sidebar").toggleClass("toggled");
            });

            postAjaxMethod('/businessContact/search', {country: $('#country').val()}, renderHTML);

            $("#title").keydown(function (key) {
                if (key.keyCode == 13) {
                    search()
                }
            });
        });

        function search(pageType) {
            let param = {
                "perPage": 20
            };

            if($('#title').val() != "") param["title"] = $('#title').val();
            if($('#country').val() != "") param["country"] = $('#country').val();
            if(pageType == "prev") {
                if(pageIdx == 0) {
                    alert("맨 처음 페이지 입니다.");
                    return;
                }
                pageIdx = pageIdx - 1;
                param["pageIdx"] = pageIdx;
            } else if(pageType == "next") {
                if(lastPageYn) {
                    alert("마지막 페이지 입니다.");
                    return;
                }
                pageIdx = pageIdx + 1;
                param["pageIdx"] = pageIdx;
            } else if(pageType == "crud") {
                param["pageIdx"] = pageIdx;
            } else {
                pageIdx = 0;
            }

            postAjaxMethod('/businessContact/search', param, renderHTML);
        }

        function renderHTML(res) {
            console.log(res);
            data = res.data;

            $('#businessContact-list').html('');
            if(data.length > 0) {
                if(data.length < 20) {
                    lastPageYn = true;
                }
                $('.pagination').css('display','');
            } else {
                $('.pagination').css('display','none');
                $('#businessContact-list').html('<tr>\n' +
    '                                    <td colspan="4">검색 결과가 없습니다.</td>\n' +
    '                                </tr>');
            }

            for(var i in data) {
                let result = '<tr>\n' +
                    '                                <td>'+data[i].regDate+'</td>\n' +
                    '                                <td>'+data[i].title+'</td>\n' +
                    '                                <td>'+data[i].worker +'</td>\n' +
                    '                                <td>' +
                    '                                   <button class="btn btn-outline-info btn-sm" data-id="'+data[i]._id+'" data-toggle="modal" data-target="#modifyBusinessContactModal">수정</button>' +
                    '                                   <button class="btn btn-outline-danger btn-sm btn-point-trade'+i+'" onclick="deleteBusinessContact(\'' + data[i]._id + '\')">삭제</button>';
                    '                               </td>\n' +
                    '                            </tr>';
                $('#businessContact-list').append(result);
            }
        }

        function deleteBusinessContact(id) {
            console.log(id);
            let confirmYn = confirm('해당 FAQ를 삭제하시겠습니까?');
            if(confirmYn) {
                deleteAjaxMethod('/businessContact/' + $('#country').val() + '/' + id, resultDeleteBusinessContact);
            }
        }

        function resultDeleteBusinessContact() {
            search('crud');
        }
    </script>
</head>
<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">MACH Exchange</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!--<a class="dropdown-item" href="#">Settings</a>-->
                <!--<a class="dropdown-item" href="#">Activity Log</a>-->
                <!--<div class="dropdown-divider"></div>-->
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">
    <div class="menu-container"></div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">게시판</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">공지사항</a>
                </li>
                <li class="breadcrumb-item active">목록</li>
                <li style="margin-left: 5px;"><button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#registerBusinessContactModal">공지사항 등록</button></li>
            </ol>

            <!-- DataTables Example -->
            <div class="card mb-3 history-table">
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-row" style="margin-bottom:5px;">
                            <div class="col-md-2">
                                거래 국가
                            </div>
                            <div class="col-md-6">
                                <select id="country" class="form-control">
                                    <option value="KR">한국</option>
                                    <option value="CN">중국</option>
                                    <!--<option value="JP">일본</option>-->
                                    <!--<option value="EN">영어</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2">
                                Title
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="title" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label-group">
                                <button class="btn btn-primary btn-block" onclick="search('');">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 history-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <colgroup>
                                <col width="150">
                                <col width="400">
                                <col width="100">
                                <col width="100">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Reg Date</th>
                                <th>Title</th>
                                <th>Worker</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="businessContact-list">
                            <tr>
                                <td colspan="4">검색 결과가 없습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-5">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="javascript:search('prev');" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span><span>prev</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:search('next');" aria-label="Next">
                                <span>next</span>&nbsp;<span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <div class="footer-container"></div>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- add businessContact Modal-->
<div class="modal fade" id="registerBusinessContactModal" tabindex="-1" role="dialog" aria-labelledby="registerBusinessContactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerBusinessContactModalLabel">공지사항 등록</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="registerBusinessContact">

            </div>
        </div>
    </div>
</div>

<!-- modify businessContact Modal-->
<div class="modal fade" id="modifyBusinessContactModal" tabindex="-1" role="dialog" aria-labelledby="modifyBusinessContactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyBusinessContactModalLabel">FAQ 수정</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modifyBusinessContact">

            </div>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>