<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../include/head.html', {}) %>
    <title><%= title %></title>

    <script>
        $(function(){
            "use strict"; // Start of use strict
            //$(".menu-container").load("/header");
            //$(".footer-container").load("/footer");

            $("#sidebarToggle").on('click',function(e) {
                e.preventDefault();
                $("body").toggleClass("sidebar-toggled");
                $(".sidebar").toggleClass("toggled");
            });

            $('#registerStaffModal').on('show.bs.modal', function (event) {
                //event.preventDefault();
                let button = $(event.relatedTarget);
                let modalTitle = button.data('modal-title');
                let modal = $(this);

                modal.find('.modal-title').text(modalTitle);
                modal.find('#registerStaff').load('/staffs/register');
            });

            $('#modifyStaffModal').on('show.bs.modal', function (event) {
                //event.preventDefault();
                let button = $(event.relatedTarget);
                let modalTitle = button.data('modal-title');
                let modal = $(this);
                let staffId = button.data('id');

                modal.find('.modal-title').text(modalTitle);
                modal.find('#modifyStaff').load('/staffs/detail/' + staffId);
            });

            postAjaxMethod('/staffs/search', {}, renderHTML);
        });

        function renderHTML(res) {
            console.log(res);
            let data = res.data;

            if(data.length > 0) {
                $('#staff-list').html('');
            }

            for(var i in data) {
                let result = '<tr>\n' +
'                                <td>'+data[i].userTag+'</td>\n' +
'                                <td>'+data[i].userName+'</td>\n' +
'                                <td>'+data[i].email+'</td>\n' +
'                                <td>'+data[i].phone+'</td>\n' +
'                                <td>'+data[i].regDate+'</td>\n' +
'                                <td>' +
'                                   <button class="btn btn-outline-info btn-sm" data-id="'+data[i]._id+'" data-toggle="modal" data-target="#modifyStaffModal">수정</button>' +
// '                                   <a href="/staffs/modify/' + data[i]._id + '"  class="btn btn-outline-info btn-sm"">수정</a>' +
'                                   <button class="btn btn-outline-danger btn-sm" onclick="deleteStaff(\''+data[i]._id+'\')">삭제</button>' +
'                               </td>\n' +
'                            </tr>';
                $('#staff-list').append(result);
            }
        }

        function deleteStaff(staffId) {
            let confirmYn = confirm('삭제 하시겠습니까?');
            if(confirmYn) {
                deleteAjaxMethod('/staffs/'+ staffId, resultCall);
            }
        }

        function resultCall (result) {
            location.href = '/staffs/lists';
        }
    </script>
</head>
<body id="page-top">
    <%- include('../include/header.html', {}) %>

<div id="wrapper">
    <%- include('../include/sidebar.html', {}) %>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">회원 관리</li>
                <li class="breadcrumb-item active">목록</li>
                <li style="margin-left: 5px;"><button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#registerStaffModal">스태프 추가</button></li>
            </ol>

            <!-- DataTables Example -->
            <div class="card mb-3 history-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Reg Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="staff-list">
                                <tr>
                                    <td colspan="6">검색 결과가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <%- include('../include/footer.html', {}) %>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- add staff Modal-->
<div class="modal fade" id="registerStaffModal" tabindex="-1" role="dialog" aria-labelledby="registerStaffModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerStaffModalLabel">스태프 등록</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="registerStaff">

            </div>
        </div>
    </div>
</div>

<!-- modify staff Modal-->
<div class="modal fade" id="modifyStaffModal" tabindex="-1" role="dialog" aria-labelledby="modifyStaffModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyStaffModalLabel">스태프 수정</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modifyStaff">

            </div>
        </div>
    </div>
</div>


<!-- Logout Modal-->
<%- include('../include/modal_logout.html', {}) %>

</body>
</html>